{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center; padding-top: 14%">
        <div style="margin-top: auto; margin-bottom: auto">
            <h2>Eliminar categoria</h2>
            <br>
            <form method="post">{% csrf_token %}
                <p>¿Esta seguro que desea eliminar la categoria "{{ object }}"?</p>
                <p>También se eliminarán los productos que pertenezcan a esta categoria</p>
                <a href="{% url 'Categoria lista' %}" class="btn btn-warning">CANCELAR</a>
                <input class="btn btn-danger" type="submit" value="CONFIRMAR">
            </form>
        </div>
    </div>
{% endblock %}